ul#nav li#doc_item {
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
}

ul#nav li #doc_link {
	position: relative;
	padding: 0 1em;
	height: 31px;
	line-height: 31px;
	color: #fff;
	background: #7E7E70 url(../../../symphony/assets/images/navigation.png) repeat-x scroll 0 -30px;
	z-index: 10;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration:none;
}

ul#nav li #doc_link:hover {
	background: #517ca6 url(../../../symphony/assets/images/navigation.png) repeat-x scroll 0 0;
}

#docs {
	font:110%/1.5 Lucida Grande,Leelawadee,Tahoma,Verdana,sans-serif;
	white-space: normal;
	text-transform: none;
	width: 400px;
	background-color: #444;
	color: #fff;
	position: absolute; top: 31px; right: 0;
	padding: 0 19px 19px 19px;
	display: none;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	opacity: .9;
	filter: alpha(opacity=90);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	z-index: 2000;
}

#docs a {
	color: #d5d5c7;
	display: inline;
	padding: 0;
	text-decoration: underline;
}

#docs a:hover {
	color: #fff;
	background: none;
}

#nav #docs ul {
	display: block;
	background: none;
	border: none;
	font-size: 100%;
	position: relative;
	top: 0;
	left: 0;
	line-height: 1.5;
	list-style: disc inside;
	margin-bottom: 1.5em;
	-webkit-box-shadow: none;
}

#docs ol {
	margin-left: 0;
	list-style: decimal inside;
}

#docs h1, #docs h2, #docs h3 {
	text-shadow: none;
	margin: 0 0 1em 0;
	border: none;
	padding: 0 0 0.5em;
}

#docs h1, #docs h2 {border-bottom:1px solid #777;margin-top:19px;}

#docs h3 {
	border-bottom: 1px solid #777;
	margin: 2em 0 1.5em 0;
}

#docs h4 {
	text-shadow: none;
/*	text-transform: uppercase;*/
	margin: 0;
	padding: 0;
}

#docs dt {font-weight: bold;}

#docs dd {margin-bottom: 1em;}

#docs th:first-child, #docs td:first-child {
	padding-left:19px;
}

#docs table {
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

#docs th {
	color: #fff;
	font-weight: bold;
	text-align: left;
}

#docs td {
	border-color: #333;
	border-width:1px 0;
	padding: 0.67em 19px 0.67em 0;
}

#docs tr:nth-child(2n+1) td{
	background-color: #3a3a3a;
}

#pagelist {height: 46em;}
