/**
 * A Symphony extension enabling addition of documentation 
 * to any page in the back end, including user-defined 
 * section indexes and entry editors.
 *
 * @author: Craig Zheng, https://github.com/czheng
 * 			additions by Johanna Hörrmann, huhu@johannahoerrmann.de
 *          and by Nils Hörrmann, post@nilshoerrmann.de
 * @source: https://github.com/czheng/documenter
 */


#documenter-pagelist {
	height: 46em;
}

/*================================================
	DRAWER DEFAULTS
================================================*/

#documenter-drawer h2#documenter-title {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	border: none;
	border-bottom: 1px solid rgba(219, 219, 219, 0.5);
}

#documenter-drawer a {
	color: #d5d5c7;
	text-decoration: underline;
}

#documenter-drawer a:hover {
	color: #fff;
}

/*================================================
	DRAWER HEADINGS
================================================*/

#documenter-drawer h1, #documenter-drawer h2, #documenter-drawer h3, #documenter-drawer h4 {
	border-bottom: 1px solid rgba(219,219,219,0.3);
}

#documenter-drawer h2, #documenter-drawer h1 {
	margin: 2em 0 1.7em 0;
	padding: 0 0 1.2em 0;
}

#documenter-drawer h3 {
	margin: 2em 0 1em 0;
	padding: 0 0 0.5em;
}

#documenter-drawer h4 {
	margin: 0;
	border: none;
}

/*================================================
	DRAWER LISTS 
================================================*/

#documenter-drawer ul {
	list-style-type: disc;
}

#documenter-drawer ol {
	list-style-type: none;
	counter-reset: section;
}

#documenter-drawer ol li {
	counter-increment: section;
}

#documenter-drawer ol li:before {
	content: counters(section, ".") ". ";
}

#documenter-drawer ul, #documenter-drawer ol {
	margin: 0 0 1.5em 0;
	list-style-position: inside;
}

#documenter-drawer ul li li, #documenter-drawer ol li li {
	margin-left: 1.5em;
}

#documenter-drawer dt {font-weight: bold;}

#documenter-drawer dd {margin-bottom: 1em;}

/*================================================
	DRAWER TABLES 
================================================*/

#documenter-drawer th:first-child, #documenter-drawer td:first-child {padding-left:19px;}

#documenter-drawer table {
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

#documenter-drawer th {
	color: #fff;
	font-weight: bold;
	text-align: left;
}

#documenter-drawer td {
	border-color: #333;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
}

#documenter-drawer tr:nth-child(2n+1) td {background-color: #3a3a3a;}

/*================================================
	DRAWER OTHER
================================================*/

#documenter-drawer blockquote {
	margin: 1.5em;
	color: #aaa;
}
