/**
 * A Symphony extension enabling addition of documentation 
 * to any page in the back end, including user-defined 
 * section indexes and entry editors.
 *
 * @author: Craig Zheng, https://github.com/czheng
 * 			additions by Johanna Hörrmann, huhu@johannahoerrmann.de
 *          and by Nils Hörrmann, post@nilshoerrmann.de
 * @source: https://github.com/czheng/documenter
 */


#documenter-pagelist {
	height: 46em;
}

/*================================================
	BUTTON
================================================*/

a.documenter.button {
	position: absolute;
	top: 16px;
	right: 19px;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	font-weight: normal;
	font-size: 11px;
	border: 1px solid rgba(186, 192, 179, 0.2);
	background: #2a2a26;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	z-index: 2000;
}

a.documenter.button.active {
	border: 1px solid rgba(155, 155, 155, 0.2);
	position: absolute;
	top: 16px;
	right: 19px;
	height: 15px;
	line-height: 1;
	padding: 2px 5px 1px;
	margin: 2px 0;
}

a.documenter.button:hover {
	color: #fff;
	border-color: rgba(155, 155, 155, 0.5);
}

/*================================================
	DRAWER DEFAULTS
================================================*/

#documenter-drawer {
	z-index: 0;
	float: right;
	font: 100%/1.5 Lucida Grande,Leelawadee,Tahoma,Verdana,sans-serif;
	white-space: normal;
	text-transform: none;
	width: 0;
	display: block;
	text-shadow: -1px 2px 3px rgba(39, 39, 38, 0.5);
	color: rgba(255, 255, 255, 0.7);
	padding: 0;
	overflow: hidden;
}

#documenter-drawer .documenter-content {
	margin: 0 19px 19px;
	border-top: 1px solid rgba(219, 219, 219, 0.1);
	padding: 19px 0 0;
	width: 262px;
}

#documenter-drawer h2#documenter-title {
	margin: 21px 19px 1.2em;
	border: none;
	padding: 0 25px 0 0;
	width: 256px;
}

#documenter-drawer a {
	color: #d5d5c7;
	text-decoration: underline;
}

#documenter-drawer a:hover {
	color: #fff;
}

/*================================================
	DRAWER HEADINGS
================================================*/

#documenter-drawer h1, #documenter-drawer h2, #documenter-drawer h3, #documenter-drawer h4 {
	text-shadow: -1px 2px 3px rgba(39,39,38,0.5);
	background: transparent;
	border-bottom: 1px solid rgba(219,219,219,0.1);
}

#documenter-drawer h2, #documenter-drawer h1 {
	margin: 2em 0 1.7em 0;
	padding: 0 0 1.2em 0;
}

#documenter-drawer h3 {
	margin: 2em 0 1em 0;
	padding: 0 0 0.5em;
}

#documenter-drawer h4 {
	margin: 0;
	border: none;
}

/*================================================
	DRAWER LISTS 
================================================*/

#documenter-drawer ul {
	list-style-type: disc;
}

#documenter-drawer ol {
	list-style-type: none;
	counter-reset: section;
}

#documenter-drawer ol li {
	counter-increment: section;
}

#documenter-drawer ol li:before {
	content: counters(section, ".") ". ";
}

#documenter-drawer ul, #documenter-drawer ol {
	margin: 0 0 1.5em 0;
	list-style-position: inside;
}

#documenter-drawer ul li li, #documenter-drawer ol li li {
	margin-left: 1.5em;
}

#documenter-drawer dt {font-weight: bold;}

#documenter-drawer dd {margin-bottom: 1em;}

/*================================================
	DRAWER TABLES 
================================================*/

#documenter-drawer th:first-child, #documenter-drawer td:first-child {padding-left:19px;}

#documenter-drawer table {
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

#documenter-drawer th {
	color: #fff;
	font-weight: bold;
	text-align: left;
}

#documenter-drawer td {
	border-color: #333;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
}

#documenter-drawer tr:nth-child(2n+1) td {background-color: #3a3a3a;}

/*================================================
	DRAWER OTHER
================================================*/

#documenter-drawer blockquote {
	margin: 1.5em;
	color: #aaa;
}
