#wrapper { 
	overflow:hidden;
}

#documenter-pagelist {
	height: 46em;
}

/*================================================
	BUTTON
================================================*/

ul#nav li.documenter-button {
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
}

ul#nav li.documenter-button a {
	position: relative;
	padding: 0 1em;
	height: 31px;
	line-height: 31px;
	color: #fff;
	background: #7E7E70 url(../../../symphony/assets/images/navigation.png) repeat-x scroll 0 -30px;
	z-index: 10;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration:none;
}

ul#nav li.documenter-button a:hover {
	background: #517ca6 url(../../../symphony/assets/images/navigation.png) repeat-x scroll 0 0;
}

ul#nav li.documenter-button a.active {
/*	background: #383834;*/
	display: none;
}

/*================================================
	"HIDE"-BUTTON
================================================*/

#documenter-drawer a.button {
	position: absolute;
	top: 23px;
	right: 19px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	height: 11px;
	width: 11px;
	line-height: 0.5;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 3px 0 0 3px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	font-size: 10px;
}

#documenter-drawer a.button:hover {
	background-color: rgba(0, 0, 0, 0.8);
	border-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}

/*================================================
	DRAWER DEFAULTS
================================================*/

#documenter-drawer {
	float: right;
	font: 100%/1.5 Lucida Grande,Leelawadee,Tahoma,Verdana,sans-serif;
	white-space: normal;
	text-transform: none;
	width: 0; 
/*	height: 100%;*/
	background-color: rgba(46, 46, 42, 0.95);
	text-shadow: -1px 2px 3px rgba(39, 39, 38, 0.5);
	color: #fff;
	padding: 0;
/*	overflow: auto;*/
	border-left: 1px solid rgba(46, 46, 42, 0.7);
}

#documenter-drawer .documenter-content {
	margin: 0 19px 19px;
	border-top: 1px solid rgba(219, 219, 219, 0.1);
	padding: 19px 0 0;
}

#documenter-drawer a {
	color: #d5d5c7;
	text-decoration: underline;
}

#documenter-drawer a:hover {
	color: #fff;
}

/*================================================
	DRAWER HEADINGS
================================================*/

#documenter-drawer h2, #documenter-drawer h3, #documenter-drawer h4 {
	text-shadow: -1px 2px 3px rgba(39,39,38,0.5);
	background: transparent;
}

#documenter-drawer h2 {
	margin: 21px 19px 17px;
	border: none;
	padding: 0 25px 0 0;
}

#documenter-drawer h3 {
	margin: 2em 0 1em 0;
	padding: 0 0 0.5em;
	border-bottom: 1px solid rgba(219,219,219,0.1);
}

#documenter-drawer h4 {
	margin: 0;
	border: none;
}

/*================================================
	DRAWER LISTS 
================================================*/

#documenter-drawer ul {
	list-style-type: disc;
}

#documenter-drawer ol {
	list-style-type: none;
	counter-reset: section;
}

#documenter-drawer ol li {
	counter-increment: section;
}

#documenter-drawer ol li:before {
	content: counters(section, ".") ". ";
}

#documenter-drawer ul, #documenter-drawer ol {
	margin: 0 0 1.5em 0;
	list-style-position: inside;
}

#documenter-drawer ul li li, #documenter-drawer ol li li {
	margin-left: 1.5em;
}

#documenter-drawer dt {font-weight: bold;}

#documenter-drawer dd {margin-bottom: 1em;}

/*================================================
	DRAWER TABLES 
================================================*/

#documenter-drawer th:first-child, #documenter-drawer td:first-child {padding-left:19px;}

#documenter-drawer table {
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

#documenter-drawer th {
	color: #fff;
	font-weight: bold;
	text-align: left;
}

#documenter-drawer td {
	border-color: #333;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
}

#documenter-drawer tr:nth-child(2n+1) td {background-color: #3a3a3a;}

/*================================================
	DRAWER OTHER
================================================*/

#documenter-drawer blockquote {
	margin: 1.5em;
	color: #aaa;
}
