ul#nav li.docs {
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
}

ul#nav li.docs a {
	position: relative;
	padding: 0 1em;
	height: 31px;
	line-height: 31px;
	color: #fff;
	background: #7E7E70 url(../../../symphony/assets/images/navigation.png) repeat-x scroll 0 -30px;
	z-index: 10;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration:none;
}

ul#nav li.docs a:hover {
	background: #517ca6 url(../../../symphony/assets/images/navigation.png) repeat-x scroll 0 0;
}

ul#nav li.docs a.active {
	background: #151510;
}

#docs {
	float:right;
	margin-top: 5em;
	font: 100%/1.5 Lucida Grande,Leelawadee,Tahoma,Verdana,sans-serif;
	white-space: normal;
	text-transform: none;
	width: 0px; height: 100%;
	background-color: #151510;
	color: #fff;
	display: none;
	padding: 0;
	overflow: auto;
}

#docs h2#docs-title, .docs-content {
	margin: 19px;
}

#docs a {
	color: #d5d5c7;
	text-decoration: underline;
}

#docs a:hover {color: #fff;}

#docs ul {
	list-style: disc inside;
	margin: 0 0 1.5em 0;
}

#docs ol {
	list-style: decimal inside;
	margin: 0 0 1.5em 0;
}

#docs h1, #docs h2, #docs h3, #docs h4 {
	text-shadow: none;
	border: none;
	background: transparent;
}

#docs h1, #docs h2 {
	border-bottom: 1px solid #777;
	margin: 17px 0 1em;
	padding: 0 0 1em;
}

#docs h3 {
	border-bottom: 1px solid #777;
	margin: 2em 0 1em 0;
	padding: 0 0 0.5em;
}

#docs h4 {margin: 0;}

#docs dt {font-weight: bold;}

#docs dd {margin-bottom: 1em;}

#docs th:first-child, #docs td:first-child {padding-left:19px;}

#docs table {
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

#docs th {
	color: #fff;
	font-weight: bold;
	text-align: left;
}

#docs td {
	border-color: #333;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
}

#docs tr:nth-child(2n+1) td {background-color: #3a3a3a;}

#pagelist {height: 46em;}
