#wrapper { 
	overflow:hidden;
}

#documenter-pagelist {
	height: 46em;
}

/*================================================
	BUTTON
================================================*/

ul#nav li.documenter-button {
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
}

ul#nav li.documenter-button a {
	position: relative;
	padding: 0 1em;
	height: 31px;
	line-height: 31px;
	color: #fff;
	background: #7E7E70 url(../../../symphony/assets/images/navigation.png) repeat-x scroll 0 -30px;
	z-index: 10;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration:none;
}

ul#nav li.documenter-button a:hover {
	background: #517ca6 url(../../../symphony/assets/images/navigation.png) repeat-x scroll 0 0;
}

ul#nav li.documenter-button a.active {
	background: #151510;
}

/*================================================
	DRAWER DEFAULTS
================================================*/

#documenter-drawer {
	float:right;
	font: 100%/1.5 Lucida Grande,Leelawadee,Tahoma,Verdana,sans-serif;
	white-space: normal;
	text-transform: none;
	width: 0; height: 100%;
	background-color: #151510;
	color: #fff;
	padding: 0;
	overflow: auto;
}

#documenter-drawer h2#documenter-title, .documenter-content {
	margin: 19px;
}

#documenter-drawer a {
	color: #d5d5c7;
	text-decoration: underline;
}

#documenter-drawer a:hover {
	color: #fff;
}

/*================================================
	DRAWER HEADINGS
================================================*/

#documenter-drawer h1, #documenter-drawer h2, #documenter-drawer h3, #documenter-drawer h4 {
	text-shadow: none;
	border: none;
	background: transparent;
}

#documenter-drawer h1, #documenter-drawer h2 {
	border-bottom: 1px solid #333;
	margin: 17px 0 1em;
	padding: 0 0 1em;
}

#documenter-drawer h3 {
	border-bottom: 1px solid #333;
	margin: 2em 0 1em 0;
	padding: 0 0 0.5em;
}

#documenter-drawer h4 {margin: 0;}

/*================================================
	DRAWER LISTS 
================================================*/

#documenter-drawer ul {
	list-style-type: disc;
}

#documenter-drawer ol {
	list-style-type: none;
	counter-reset: section;
}

#documenter-drawer ol li {
	counter-increment: section;
}

#documenter-drawer ol li:before {
	content: counters(section, ".") ". ";
}

#documenter-drawer ul, #documenter-drawer ol {
	margin: 0 0 1.5em 0;
	list-style-position: inside;
}

#documenter-drawer ul li li, #documenter-drawer ol li li {
	margin-left: 1.5em;
}

#documenter-drawer dt {font-weight: bold;}

#documenter-drawer dd {margin-bottom: 1em;}

/*================================================
	DRAWER TABLES 
================================================*/

#documenter-drawer th:first-child, #documenter-drawer td:first-child {padding-left:19px;}

#documenter-drawer table {
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

#documenter-drawer th {
	color: #fff;
	font-weight: bold;
	text-align: left;
}

#documenter-drawer td {
	border-color: #333;
	border-width: 1px 0;
	padding: 0.67em 19px 0.67em 0;
}

#documenter-drawer tr:nth-child(2n+1) td {background-color: #3a3a3a;}

/*================================================
	DRAWER OTHER
================================================*/

#documenter-drawer blockquote {
	margin: 1.5em;
	color: #aaa;
}
